/* $Id: ie6-fixes.css 6899 2010-03-22 22:16:40Z sheena $ */

/**
* fixes an issue with the header not being laid out properly in IE6
**/

#primary-menu { 
  clear:both; 
  width: auto; 
  margin: 0px auto; 
  float: none;
} 

#header-group, 
#header-group-inner {
  padding: 0px; 
  width: 960px; 
  margin: 0px auto; 
  overflow: hidden;
}

#header-site-info {
  width: 960px; 
  margin: 0px auto; 
  clear: both; 
  float: none; 
  padding: 0px;
}

/**
* fix to clear floated imagefields since IE6  doesn't recognize the :after psedo-class
**/

.fusion-float-imagefield-left .views-row:after,
.fusion-float-imagefield-right .views-row:after,
.fusion-float-imagefield-left li:after,
.fusion-float-imagefield-right li:after,
.fusion-float-imagefield-left div.rounded-top:after,
.fusion-float-imagefield-right div.rounded-top:after,
.fusion-float-imagefield-left div.rounded-bottom:after,
.fusion-float-imagefield-right div.rounded-bottom:after {
  zoom: 1;
}

/**
* fixes an issue with multi-column menu items being wider in IE6
**/

.fusion-multicol-menu .inner ul li.expanded,
.fusion-multicol-menu .inner ul li.leaf {
  width: 120px;
}



.fusion-multicol-menu .inner ul li ul  li.expanded,
.fusion-multicol-menu .inner ul li ul li.leaf {

  width: 120px;
}