.original-sell-price {
	color: #777777;
	text-decoration: line-through;
}

.field-type-discounted-price .field-label-inline,
.field-type-discounted-price .field-label-inline-first {
  font-weight: normal;
}

.field-type-discounted-price, td.views-field-discounted-price,
.views-field-discounted-price .field-content {
	color: Red;
}
