/*top header for login page*/
div.inner.clearfix{
    margin:0px;
}

div#header-top-inner.header-top-inner.inner.clearfix{
    width: 960px;
    height: 120px;
}

div#header-top-region-wrapper.header-top-region-wrapper.full-width{
    width: 960px;
    height: 120px; 
}

.header-top-region { 
    border-bottom-width: 0px!important;
    height: 120px;
    background-color: white!important;
}
body#pid-user-password div#block-block-3,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-3{
    display: none;
}

body#pid-user-password.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#breadcrumbs.breadcrumbs.block,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#breadcrumbs.breadcrumbs.block{
    display: none;
}

body#pid-user-password.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
ul.tabs.primary,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
ul.tabs.primary{
    display: none;
}
body#pid-user-password
div#block-block-1,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-1{
    float:right;
    display: block;
    width:54%;
    margin:0px;
    height:120px;
}
body#pid-user-password
div#block-block-1 img,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-1 img{
    float:right;
    margin-top:49px;
}

body#pid-user-password div#block-block-2,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-2{
    float:left; 
    width:25%;
    margin: 0px;
    height:120px;
}
body#pid-user-password div#block-block-2 img,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-2 img{
    float:left; 
    margin-top: 53px;
}
/*main-wrapper login page*/
body#pid-user-password div#main-inner,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#main-inner{
    background-image: url("login_page.png");
    width:960px;
    height:580px;
}
/*top header another pages*/
div#header-top-inner.inner.clearfix img { 
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

div#block-block-1.block.block-block.odd.first.grid16-5{
    display: none;
}

div#header-top-region-inner.header-top-region-inner.inner.clearfix{
    height:120px;
    margin: 0px!important;
}

div#block-block-2{
    float:left;
    margin:0px!important;
    height:120px;
    width:25%;
}

div#block-block-2 img{
    float:left;
    margin-top: 53px;
}

div#block-views-user_meta-block_1{
    float:right;
    margin:0px!important;
    height:120px;
}
div#block-views-user_meta-block_1
div.views-field-nothing,
div#block-views-user_meta-block_1
div.views-field-nothing-1{
    display:none;
}

div#block-views-user_meta-block_1 
div.view.view-user-meta
div.views-row img{
    padding:0px 0px 0px 45px!important;
}

div.view.view-user-meta
div.views-row{
    height:45px;
    margin:70px 0px 0px 0px!important;
    padding:0px!important;
}

/*preface top*/

#preface-top-inner .block { 
    margin-right: -1px;
    margin-top:1px;
}
div#block-block-3{
    width:30%;
    float:right;
    text-align: right;
    padding-right: 5px;
    height: 30px;
    margin:0px!important;
}

div#block-block-3 a{
    color:white;
    font-weight: bold;
    padding-right:13px;
    padding-left:13px;
}

div#block-block-3 p{
    margin-top:5px;
}

div#edit-search-block-form-1-wrapper label{
    display:none;
}

form#search-block-form input.form-submit{
    height: 18px;
    width: 24px;
    background-color:#319999;
    background-image: url("search-button.png");
    border-width: 0px!important;
    font-size: 0px;
    float:left;
}

div#block-search-0{
    height:30px;
    width:30%;
    float:left;
    margin:0px;
    width:18%;
}

div#block-search-0 div.inner.clearfix{
    margin-top: 5px;
    margin-left: 30px;
}

form#search-block-form .form-item input {
    float:right;
    background-image: url("search-edit.png");
    background-color: #319999;
    border-width: 0px;
    width: 87px;
}
form#search-block-form div div.container-inline { 
    float: left;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-top: 0px!important;
    width: 84%!important;
}

div#preface-top,
div#preface-top-inner.preface-top-inner.inner.clearfix{
    background-color: #319999;
    height:30px;
}

div#header-group-inner{
    display:none;
}
form#user-login-form .form-item input
{
    background-color:#319999;
    border-width:0px;
    background-image: url("text-enter.png");
    width: 87px;
}

/*footer*/
div#block-commons_core-commons_info{
    display: none;
}

div#footer-wrapper .footer-inner { 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(246, 246, 246);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0px;
    padding-top: 14px;
}

/* registration block*/
form#user-register input.form-submit{
    font-size: 1.4em;
    font-style: italic;
    margin-left: 2.9em;
    padding-bottom: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width:0px;
    width:120px;
    height:30px;
    background-color: #2a2a3a;
    color:#2a2a3a;
    font-weight: normal;
    background-image: url("register-button.png");
}

div#block-formblock-user_register{
    margin-left:54.6em;
    color:white;
    width:305px;
    height:321px;
    background-image: url("sign_me_up.png");
    margin-top:9em;

}

div#block-formblock-user_register .confirm-parent{
    margin:0px; 
}

div#block-formblock-user_register
h2.title.block-title,
div#block-formblock-user_register
fieldset legend,
div#block-formblock-user_register
div#account-pass-restrictions,
div#block-formblock-user_register
div.description{
    display: none;
}

div#block-formblock-user_register fieldset{
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    height: 192px;
    margin-bottom: 0px !important;
    margin-left: 36px !important;
    margin-right: 0px !important;
    margin-top: 50px !important;
}

div#block-formblock-user_register .form-text{
    width:200px!important; 
}

div#block-formblock-user_register .form-item{
    width:200px!important; 
    margin: 0.7em 0em 0.7em 0em;
}

div#block-formblock-user_register
input#edit-submit-2.form-submit{
    margin-left: 46px;
}

/*login block*/
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
h1.title,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#content-content.content-content form#user-login{
    display: none;
}

div#block-registration-my_login_block{
    float:right;
    width:600px;
}

div#block-registration-my_login_block
div#edit-name-1-wrapper.form-item{
    width:103px;
    float:right;
    margin-bottom: 5px;
    margin-top: -7px;
}

div#block-registration-my_login_block
div#edit-pass-1-wrapper.form-item{
    width:130px;
    float:right!important;
    margin-bottom: 5px;
    margin-top: -7px;
}

div#block-registration-my_login_block
input#edit-submit-1.form-submit{
    float:right;
    background-color: rgb(49, 153, 153);
    border-width:0px;
    margin-bottom: 5px;
    margin-top: -9px;
    padding-bottom: 20px;
    font-size: 18px;
    margin-right:10px;
}

div#block-registration-my_login_block label,
div#block-registration-my_login_block div.description,
div#block-registration-my_login_block ul{
    display: none;
}

div#block-registration-my_login_block{
    display: none;
}

div#block-registration-my_login_block div.inner.clearfix{
    margin-bottom: 10px;
}
body#pid-user-password div#block-registration-my_login_block,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-registration-my_login_block{
    display: block!important;
}

/*logout block*/
div#block-block-3 a.fusion-block-edit{
    width:0px;
    float:right;
    display:none;
}

/*messages*/
div#content-messages,
div.messages.error{
    margin:0px!important;
}
div#block-formblock-user_register div#edit-pass-pass2-wrapper,
div#block-formblock-user_register div#edit-pass-pass1-wrapper{
    height:38px;
}

/*password*/
div#block-formblock-user_register span.password-confirm,
div#block-formblock-user_register span.password-strength{
    display:none;
}
div#block-formblock-user_register
div.password-description.error{
    display: none!important;
}

/*log in*/
div#block-registration-my_login_block div#edit-pass-wrapper.form-item { 
    float: right !important;
    margin-bottom: 5px;
    margin-top: -7px;
    width: 130px;
}

body#pid-user-password div#block-formblock-user_register{
    display:none; 
}

body#pid-user-password div#content-inner{
    color:white;
    margin-left: 57em;
    margin-top: 11em;
    width: 220px;
}

body#pid-user-password div#content-inner
form#user-pass input.form-submit{
    background-color: black;
    background-image: url("http://btcom/sites/all/themes/cleancommerce/css/register-button.png");
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: rgb(42, 42, 58);
    font-size: 1.0em;
    font-style: italic;
    font-weight: 400;
    height: 30px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 120px;
    background-repeat: no-repeat;
}

div#block-registration-my_login_block div#edit-name-wrapper.form-item { 
    float: right;
    margin-bottom: 5px;
    margin-top: -7px;
    width: 103px;
}

div#block-registration-my_login_block input#edit-submit.form-submit { 
    background-color: rgb(49, 153, 153);
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    float: right;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: -9px;
    padding-bottom: 20px;
}