/* $Id: ie6-fixes.css 6566 2010-02-25 00:55:55Z chris $ */

/* IE6 */

/* Logo */
#logo {
  position: relative;
  z-index: 11;
}

/* Site info */
#site-info-wrapper {
  margin-bottom: 10px;
}

/* Secondary menu */
#secondary-menu ul.links {
  float: right;
}

/* Primary menu */
#primary-menu .inner {
  width: auto;
}

#primary-menu-wrapper .corner-bottom-right {
  margin-top: -6px;
  position: relative;
}

/* Corners */
div.corner-top-left, 
div.corner-top-right, 
div.corner-bottom-left, 
div.corner-bottom-right { 
  font-size: 2px;
  height: 6px;
}

/* List styles */
.block ul {
  margin-left: 10px;
}

.marketshare-widebackground ul,
.marketshare-widebackground ul.menu {
  list-style-image: none;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul {
  margin-left: -10px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul {
  position: relative;
}

.fusion-inline-menu .inner ul.menu li a {
  padding: 0 8px 0 10px;
}

/* Pager */
ul.pager {
  display: block;
  height: 1%;
}

ul.pager li.pager-current {
  position: relative;
}

/* Footer */
#footer .marketshare-dark-background-blue {
  margin-bottom: -1.75em;
}

/* Lists */
ul li,
ul.menu li,
.item-list ul li {
  position: relative;
}


/* Ubercart - Shopping cart block
-------------------------------------------------------------- */
.cart-block-summary-links ul.links li.cart-block-view-cart a:link,
.cart-block-summary-links ul.links li.cart-block-view-cart a:visited {
  float: left;
  padding: 0 7px 2px 7px;
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
  float: left;
  padding: 0 7px 0 7px;
}

.cart-block-summary-links ul.links li.cart-block-view-cart a:hover,
.cart-block-summary-links ul.links li.cart-block-view-cart a:focus {
  background-position: 0 -25px;
}

.ubercart-styles .views-field-buyitnowbutton .form-submit {
  border-left: none;
  position: relative;
}


/* Buttons
/-------------------------------------------------------------- */
form input.form-submit,
#search input#search_header {
  border-left: none;
  color: #fff;
  padding: 0;
}

input#edit-checkout,
input#edit-continue,
.review-button-row input#edit-submit,
form#user-login input#edit-submit,
form#user-login-form input#edit-submit {
  border-left: none;
}

input#edit-submit,
#comment-form input#edit-submit-1,
input#edit-cancel,
input#edit-back {
  border-right: none;
}

input#edit-update,
input#edit-back {
  border-right: none;
}

input#edit-update.hover,
input#edit-back.hover,
input#edit-cancel.hover {
  color: #fff;
}

input#edit-checkout.hover,
input#edit-continue.hover,
.review-button-row input#edit-submit.hover {
  color: #fff;
}


/* Ubercart - Add to cart
/-------------------------------------------------------------- */
.add-to-cart .node-add-to-cart,
.ubercart-styles .views-field-buyitnowbutton form input.form-submit {
  border-left: none;
}

.ubercart-styles .views-field-buyitnowbutton form input.form-submit {
  padding: 1px 15px 0 0;
}


/* PNG Fix
/-------------------------------------------------------------- */
.pngfix {
  behavior: url(/sites/all/themes/fusion/fusion_core/js/iepngfix.htc);
}