/* $Id: fusion-marketshare-style.css 7150 2010-04-20 23:43:24Z jeremy $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #eeeae1;
  color: #444;
}

/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #bb2828;
  text-decoration: none;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}


/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
#site-name {
  display: inline;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  font-size: 200%; /* 36px/12px */
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 100%;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float: left;
  margin: -11px -15px 0 0;
  padding: 0;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited {
  color: #3a4e66;
}

#site-name .first-word {
  color: #bb2828;
}

/* Typography for site slogan */
#slogan {
  color: #c5bcaa;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: bold;
  margin: 0;
  text-indent: 15px;
  text-transform: uppercase;
  white-space: nowrap;
}


/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* Add side border graphics to rows */
.header-group,
.preface-top,
.main,
.postscript-bottom,
.footer,
.footer-message {
/*  background: transparent url(../images/edge-lft.png) repeat-y scroll left top;
  padding-left: 3px;*/
}

#footer-message-wrapper {
  height: 20px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

#footer-message,
#footer-message-inner {
  height: 100%;
}

#pre-footer {
  height: 20px;
}

.header-top-inner,
.header-group-inner,
.preface-top-inner,
.main-inner,
.postscript-bottom-inner,
.footer-inner,
.footer-message-inner {
/*  background: #fff url(../images/edge-rt.png) repeat-y scroll right top;*/
}


/* Header Regions
-------------------------------------------------------------- */
.header-group-inner {
  padding: 0;
  display: table;
  width: 100%;
}

.header-top-secondary-menu-wrapper {
  background: #3f4a57;
  color: #fff;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  margin-right: 3px;
  padding: 0;
}

.header-top-secondary-menu-wrapper a:link,
.header-top-secondary-menu-wrapper a:visited {
  color: #dde1e6;
}

.header-top-secondary-menu-wrapper h2.block-title {
  color: #fff;
}

#header-top-secondary-menu-wrapper {
  width: auto;
}

#header-top-region {
  float: left;
  padding-top: 10px;
  width: auto;
}

.header-top-secondary-menu-wrapper .block {
  margin-bottom: 0;
}

/* Header site info */
#header-site-info.block {
  margin-bottom: 0px;
  margin-top: 10px;
  overflow: visible;
  width: auto;
}

#main-bar {
  width: 504px;
  background-color: #2D3641;
}

/* Primary Menu
/-------------------------------------------------------------- */
#primary-menu-wrapper {
  margin-right: 3px;
  position: relative;
  z-index: 15;
}

#primary-menu {
  margin-left: 0;
  overflow: visible;
  float: left;
  width: 100%;
}

#primary-menu .inner {
  background: #2d3641 url(../images/primary-menu-bg.png) repeat bottom left;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  z-index: 10;
}

/* styles for Superfish primary menu */
#primary-menu ul.menu {
  line-height: 40px;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 133.3%; /* 16px/12px */
  margin: 0;
}

/* Link style for top level menu items, add padding here */
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited  {
  background: transparent url(../images/primary-menu-bg-line.png) repeat-y center left;
  color: #fff;
  display: block;
  margin: 0;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
}

#primary-menu ul.menu li.first a:link,
#primary-menu ul.menu li.first a:visited {
  background: none;
}

#primary-menu ul.menu li a:hover,
#primary-menu ul.menu li a:active,
#primary-menu ul.menu li a:focus,
#primary-menu ul.menu li.active-trail a:link,
#primary-menu ul.menu li.active-trail a:visited {
  background: #9f2323 url(../images/primary-menu-active-bg.png) repeat-x top left;
  color: #fff;
}

#primary-menu ul.menu li a.active,
#primary-menu ul.menu li a.active-trail {
  background: #9f2323 url(../images/primary-menu-active-bg.png) repeat-x top left;
  color: #fff;
}

/* These are the top level menu items, add border-right here for separators */
#primary-menu ul.menu li {
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Drop down showing second level and highlighting top level */
#primary-menu ul.menu li:hover a:link,
#primary-menu ul.menu li:hover a:visited,
#primary-menu ul.menu li.hover a:link,
#primary-menu ul.menu li.hover a:visited {
  background: #9f2323 url(../images/primary-menu-active-bg.png) repeat-x top left;
}

#primary-menu ul.menu li:hover ul.menu li a:link,
#primary-menu ul.menu li:hover ul.menu li a:visited,
#primary-menu ul.menu li.hover ul.menu li a:link,
#primary-menu ul.menu li.hover ul.menu li a:visited,
#primary-menu ul.menu li.sfHover a:link,
#primary-menu ul.menu li.sfHover a:visited {
  background: #5a646f;
}

#primary-menu ul.menu li.sfHover a:link,
#primary-menu ul.menu li.sfHover a:visited {
  background: #9f2323 url(../images/primary-menu-active-bg.png) repeat-x top left;
}

#primary-menu ul.menu li:hover ul.menu li a:hover,
#primary-menu ul.menu li.hover ul.menu li a:hover {
  background: #47525f;
}

/* 2nd level hover menu items */
#primary-menu ul.menu li.sfHover ul.menu li a:link,
#primary-menu ul.menu li.sfHover ul.menu li a:visited {
  color: #fff;
}

#primary-menu ul.menu li.shHover ul.menu li a.active,
#primary-menu ul.menu li.sfHover ul.menu li.active-trail a.active {
  text-decoration: underline;
}

/* 2nd Level */
#primary-menu ul.menu li ul.menu {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;     /* web safe fonts */
  font-size: 75%; /* 12px/16px */
  margin-left: 0;
  margin-top: 10px;
  padding: 0;
}

#primary-menu ul.menu li ul.menu li {
  background: #5a646f;
  border-bottom: 1px solid #9F9F9F;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

#primary-menu ul.menu li ul.menu li.last {
  border-bottom: none;
}

#primary-menu ul.menu li ul.menu li a:link,
#primary-menu ul.menu li ul.menu li a:visited {
  background: transparent;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 10px 15px;
}

#primary-menu ul.menu li ul.menu li a:hover,
#primary-menu ul.menu li ul.menu li a:focus {
  color: #fff;
  background: #47525f;
}

/* 3rd Level */
#primary-menu ul.menu .current ul.menu,
#primary-menu ul.menu li ul.menu li:hover ul.menu,
#primary-menu ul.menu li ul.menu li.sfHover ul.menu {
  font-size: 100%; /* 12px/16px */
  margin-top: 0;
}

#primary-menu ul.menu li ul.menu li ul.menu li {
  margin: 0;
}

/* Primary menu - Nolink */
#primary-menu ul.menu li span.nolink  {
  background: transparent url(../images/primary-menu-bg-line.png) repeat-y center left;
  color: #fff;
  display: block;
  margin: 0;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
}

#primary-menu ul.menu li.first span.nolink {
  background: none;
}

#primary-menu ul.menu li span.nolink:hover,
#primary-menu ul.menu li span.nolink.hover,
#primary-menu ul.menu li:hover span.nolink,
#primary-menu ul.menu li.hover span.nolink,
#primary-menu ul.menu li.active-trail span.nolink,
#primary-menu ul.sf-menu li.sfHover span.nolink {
  background: #9f2323 url(../images/primary-menu-active-bg.png) repeat-x top left;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink,
#primary-menu ul.menu li.hover ul.menu li span.nolink,
#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink {
  background: transparent;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 10px 15px;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink:hover,
#primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
  color: #fff;
  background: #47525f;
}


/* Secondary menu
-------------------------------------------------------------- */
#secondary-menu {
  background: #3f4a57;
  color: #fff;
  float: right;
  font-size: 108.3%; /* 13px/12px */
  padding-top: 10px;
  width: auto;
}

#secondary-menu ul.links {
  margin-right: -10px;
}

#secondary-menu ul.links li {
  border: none;
  display: block;
  float: left;
  padding: 0 0 12px 0;
}

#secondary-menu ul.links li a:link,
#secondary-menu ul.links li a:visited {
  border-right: 1px solid #ccc;
  color: #DDE1E6;
  padding: 0 10px;
}

#secondary-menu ul.links li.first a:link,
#secondary-menu ul.links li.first a:visited {
  border-left: none;
}

#secondary-menu ul.links li.last a:link,
#secondary-menu ul.links li.last a:visited {
  border-right: none;
}

#secondary-menu ul.links li.active-trail {
  background: url(../images/secondary-arrow.png) no-repeat center bottom;
}

#secondary-menu ul.links li a:hover,
#secondary-menu ul.links li a:focus,
#secondary-menu ul.links li.active-trail a:link,
#secondary-menu ul.links li.active-trail a:visited {
  color: #fff;
}


/* Header - Search
-------------------------------------------------------------- */
#search-box {
  float: right;
  width: 220px;
}

#search input#edit-search-theme-form-header {
  background: transparent url(../images/text-area-bg.png) repeat-x bottom;
  border: 1px solid #DEDEDE;
  margin: 0;
  padding: 4px 2px;
}

#search input#search_header {
  background: transparent url(../images/button-submit.png) no-repeat top right;
  border: none;
  border-left: 1px solid #242b34;
  color: #eeeae1;
  cursor: pointer;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 108.3%; /* 13px/12px */
  font-weight: bold;
  font-style: italic;
  height: 25px;
  margin: 0;
  padding: 0 10px 2px 10px;
  text-transform: uppercase;
}

#search input#search_header:hover,
#search input#search_header.hover {
  background-position: bottom right;
}


/* Content Regions
-------------------------------------------------------------- */
ul,
ul.menu {
  list-style: none;
  margin-left: 10px;
}

ul li,
ul.menu li,
.item-list ul li {
  background: url(../images/list-arrow.png) no-repeat 0 3px;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding-left: 10px;
}

ul.links li,
ul.tabs li,
.fusion-inline-menu ul li,
.fusion-multicol-menu ul li,
.fusion-2-col-list .item-list ul li,
.fusion-3-col-list .item-list ul li,
.marketshare-widebackground ul li {
  background: none;
  padding-left: 0;
}

.teaser {
  border-bottom: 1px dashed #EEEAE1;
}


/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.footer {
  color: #8E939A;
}

.footer h2.block-title {
  color: #fff;
}

.footer .block .inner {
  padding: 0 10px;
}

.footer a:link,
.footer a:visited {
  color: #fff;
}

.footer-inner {
  background-color: #3F4A57;
  padding-top: 20px;
}

#footer-message {
  text-align: center;
}

.footer-message-inner {
  background-color: #2B323B;
  color: #8E939A;
  font-size: 90%;
  padding: 10px 10px 0 10px;
}

.footer-message-inner a:link,
.footer-message-inner a:visited {
  color: #fff;
}

#footer-message-text.block {
  margin-bottom: 10px;
}

#store-footer {
  background: #2B323B;
  color: #8E939A;
  text-align: center;
}

#store-footer a:link,
#store-footer a:visited {
  color: #fff;
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
/* original values
h1.title {
  color: #3a4e66;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 90%;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
}
*/
/* common connect */
h1.title {
    color: #2c2c2c;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0 0 10px 0;
    padding:0px 0px 0px 10px;
}


/* Default node styles
/-------------------------------------------------------------- */
/* Typography for node titles */
h2.title {
  color: #242b34;
}

/* Colors and styles for linked node titles */
h2.title a:link,
h2.title a:visited {
  color: #444;
}

h2.block-title {
  font-size: 166.7%; /* 20px/12px */
  font-weight: normal;
}

h3 {
  color: #a19886;
  font-size: 116.7%; /* 14px/12px */
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
  margin-bottom: 5px;
}

.submitted {
  color: #6F6F6F;
  font-size: 91.7%; /* 11px/12px */
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
div.links ul.links {
  float: right;
}

div.links ul.links li {
  border-left: 1px solid #ccc;
  margin: 0 5px 0 0px;
  padding: 0 0 0 8px;
}

div.links ul.links li.first {
  border-left: none;
}

blockquote {
  margin: 20px 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-style: italic;
  padding: 5px 10px;
}

.picture {
  float: left;
  margin-right: 10px;
}


/* Breadcrumbs
-------------------------------------------------------------- */
#breadcrumbs-inner {
  background: url(../images/gradient.png) repeat-x 0 20px;
  padding: 0 10px 20px 10px;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited {
  color: #777;
  font-size: 108.3%; /* 13px/12px */
  text-transform: uppercase;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li.active a,
#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 3px solid #000;
  color: #000;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 3px solid #000;
}


/* Pagers
-------------------------------------------------------------- */
ul.pager {
  background: url(../images/pager-bg.png) repeat-x bottom;
  padding: 0 0 5px 0;
}

ul.pager li {
  border-right: 1px solid #dbd6cc;
  font-size: 91.7%; /* 11px/12px */
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

ul.pager li.first {
  border-left: 1px solid #dbd6cc;
}

ul.pager li a:link,
ul.pager li a:visited {
  border: none;
  color: #3a4e66;
  padding: 5px 10px 5px 10px;
}

ul.pager li.pager-current {
  border: 1px solid #dbd6cc;
  margin-left: -4px;
}

ul.pager li.pager-ellipsis {
  padding: 5px 10px 5px 6px;
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li.pager-current {
  color: #bb2828;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}


/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit,
form#user-login input#edit-submit,
form#user-login-form input#edit-submit {
  background: transparent url(../images/button-submit.png) no-repeat top right;
  border: none;
  border-left: 1px solid #242b34;
  color: #eeeae1;
  cursor: pointer;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 108.3%; /* 13px/12px */
  font-weight: bold;
  font-style: italic;
  height: 25px;
  margin: 0;
  padding: 0 10px 2px 10px;
  text-transform: uppercase;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus,
form#user-login input#edit-submit:hover,
form#user-login input#edit-submit.hover,
form#user-login input#edit-submit:focus,
form#user-login-form input#edit-submit:hover,
form#user-login-form input#edit-submit.hover,
form#user-login-form input#edit-submit:focus {
  background-position: bottom right;
}

input#edit-submit,
#comment-form input#edit-submit-1 {
  background: transparent url(../images/button-submit-save.png) no-repeat top left;
  border-left: none;
  border-right: 1px solid #242b34;
}

input#edit-submit:hover,
input#edit-submit:focus,
input#edit-submit.hover,
#comment-form input#edit-submit-1:hover,
#comment-form input#edit-submit-1:focus,
#comment-form input#edit-submit-1.hover {
  background-position: bottom left;
}

#comment-form input#edit-submit-1:hover,
#comment-form input#edit-submit-1:focus,
#comment-form input#edit-submit-1.hover {
  background-position: bottom left;
}

#search-block-form input#edit-submit,
form#search-form input#edit-submit {
  background: transparent url(../images/button-submit.png) no-repeat top right;
  border: none;
}

#search-block-form input#edit-submit.hover,
#search-block-form input#edit-submit:hover,
form#search-form input#edit-submit:hover,
form#search-form input#edit-submit.hover {
  background-position: bottom right;
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  background: transparent url(../images/text-area-bg.png) repeat-x bottom;
  border: 1px solid #DEDEDE;
  margin: 0;
  padding: 4px 2px;
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
  border: 1px solid #ccc;
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
  font-size: 133%;
  text-transform: uppercase;
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  color: #A19886;
  font-weight: bold;
}

.marker,
.form-required {
  color: #bb2828;
}


/* Tables
-------------------------------------------------------------- */
/* Header of tables */
thead th {
  border-bottom: 3px solid #ccc;
  color: #a19886;
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
  text-transform: uppercase;
}

/* Alternating row background styles */
tr.even,
tr.even td,
tr.odd,
tr.odd td {
  background: transparent;
  border-bottom: 1px solid #f1eee8;
}

/* Last row border */
.views-row-last,
tr.views-row-last,
tr.views-row-last td {
  border-bottom: none;
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */

/* Comments
/-------------------------------------------------------------- */
#comments h2.comments-header,
#comments .comment h3.title {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  font-size: 133.3%; /* 16px/12px */
}

#comments h2.comments-header {
  font-weight: normal;
  text-transform: uppercase;
}

.comment {
  border: 2px solid #DFDAD1;
  margin: 15px 0;
  padding: 10px;
}

.comment .links a:link,
.comment .links a:visited {
  font-size: 91.7%; /* 11px/12px */
  text-align: right;
}

#comments .odd {
  background-color: #f1eee8;
}

#comments .even {
  background-color: #f9f7f6;
}

#comments div.comment-by-author {
  background: #fff;
}

.comment .submitted {
  margin-bottom: 5px;
}

.signature {
  border-top: 1px solid #ccc;
  clear: both;
  font-size: 91.7%; /* 11px/12px */
  margin: 10px 0 0 0;
}


/* Forum
/-------------------------------------------------------------- */
.forum table {
  margin: 10px 0 40px 0;
}

/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}


/* Ubercart - Styles
/-------------------------------------------------------------- */
.catalog-grid-title {
  font-weight: bold;
}

ul.uc-categories {
  line-height: 300%;
}

.uc-categories li a:link,
.uc-categories li a:visited {
  border-right: 1px solid #ccc;
  font-weight: bold;
  padding: 0 13px 0 10px;
}

.uc-categories li.first a:link,
.uc-categories li.first a:visited {
  padding-left: 0;
}

.uc-categories li.last a:link,
.uc-categories li.last a:visited {
  border-right: none;
  padding-right: 0;
}


/* Ubercart - Add to cart
/-------------------------------------------------------------- */
.add-to-cart .node-add-to-cart {
  background: url(../images/button-cart.png) no-repeat top right;
  border: none;
  border-left: 1px solid #dad2c1;
  clear: left;
  color: #bb2828;
  cursor: pointer;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 108.3%; /* 13px/12px */
  font-style: normal;
  font-weight: normal;
  margin: 5px 0;
  padding: 1px 30px 0 5px;
  text-shadow: 1px 1px #fff;
  text-transform: none;
}

.node-add-to-cart:hover,
.node-add-to-cart.hover,
.node-add-to-cart:focus {
  color: #000;
}

.add-to-cart .attributes .odd {
    background-color: transparent;
}


/* Ubercart - Shopping cart block
-------------------------------------------------------------- */
.cart-block-summary-links ul.links {
  float: right;
  margin: 0;
}

.cart-block-summary-links ul.links li {
  border: none;
  cursor: pointer;
  float: left;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 83.3%; /* 10px/12px */
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 5px;
  text-transform: uppercase;
}

.cart-block-summary-links ul.links li.cart-block-view-cart a:link,
.cart-block-summary-links ul.links li.cart-block-view-cart a:visited {
  background: transparent url(../images/button-submit.png) no-repeat top left;
  border-right: 1px solid #242b34;
  color: #eeeae1;
  display: block;
  height: 23px;
  line-height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 0 10px 2px 10px;
}

.cart-block-summary-links ul.links li.cart-block-view-cart a:hover,
.cart-block-summary-links ul.links li.cart-block-view-cart a:focus {
  background-position: bottom left;
  text-decoration: none;
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
  background: transparent url(../images/button-submit-save.png) no-repeat top right;
  border-left: 1px solid #242b34;
  color: #eeeae1;
  display: block;
  height: 23px;
  line-height: 25px;
  margin: 0;
  padding: 0 10px 2px 10px;
}

.cart-block-summary-links ul.links li.cart-block-checkout a:hover,
.cart-block-summary-links ul.links li.cart-block-checkout a:focus {
  background-position: bottom right;
  text-decoration: none;
}


/* Ubercart - Cancel / Back / Updated buttons
-------------------------------------------------------------- */
input#edit-cancel,
input#edit-back {
  background-position: top left;
  border-left: none;
  border-right: 1px solid #242b34;
}

input#edit-update,
input#edit-back {
  background-position: top left;
  border-left: none;
  border-right: 1px solid #242b34;
}

input#edit-update:hover,
input#edit-update:focus,
input#edit-update.hover,
input#edit-back:hover,
input#edit-back:focus,
input#edit-back.hover,
input#edit-cancel:hover,
input#edit-cancel:focus,
input#edit-cancel.hover {
  background-position: bottom left;
}


/* Ubercart - Checkout / Review Order / Submit Order buttons
-------------------------------------------------------------- */
input#edit-checkout,
input#edit-continue,
.review-button-row input#edit-submit {
  background: transparent url(../images/button-submit-save.png) no-repeat top right;
  border-left: 1px solid #242b34;
  border-right: none;
}

input#edit-checkout:hover,
input#edit-checkout:focus,
input#edit-checkout.hover,
input#edit-continue:hover,
input#edit-continue:focus,
input#edit-continue.hover,
.review-button-row input#edit-submit:hover,
.review-button-row input#edit-submit:focus,
.review-button-row input#edit-submit.hover {
  background-position: bottom right;
}


/* Ubercart - Order review
-------------------------------------------------------------- */
table.order-review-table {
  border: none;
  margin-top: -20px;
  width: 100%;
}

.order-review-table .pane-title-row {
  background: none;
  border: none;
  border-bottom: 1px solid #242B34;
  padding: 10px 20px;
  text-align: left;
}

.order-review-table .pane-title-row td {
  font-size: 150%; /* 18px/12px */
  padding: 20px 0 0 0;
}

.order-review-table .row-border-top {
  border-top: 3px solid #242B34;
}

.order-review-table td {
  font-size: 108.3%; /* 12px/12px */
}

.order-review-table .title-col {
  font-weight: bold;
  padding: 15px 10px;
  text-align: left;
}

.order-review-table .data-col {
  padding: 15px 10px;
}

.order-review-table td {
  padding-bottom: 2px;
  padding-top: 2px;
}

.order-review-table .review-button-row {
  background: none;
  border: none;
  text-align:right;
}

.order-review-table .review-button-row td {
  padding: 10px 0 0 10px;
}

.solid-border {
  border: 3px solid #ccc;
}


/* Ubercart - Product node
-------------------------------------------------------------- */
#price-group {
  float: left;
  overflow: hidden;
  width: 30%;
}

#field-group {
  float: right;
  margin-left: 3%;
  width: 66%;
}

#price-group .images {
  margin-bottom: 20px;
}

/* Product price */
#product-price {
  display: block;
}

#product-price .product-info {
  display: inline;
}

#product-price .product-price-text {
  color: #a19886;
  font-size: 200%; /* 24px/12px */
  padding-right: 5px;
}

#price-group .uc-price-display {
  clear: none;
  color: #444;
  float: none;
  font-size: 200%; /* 24px/12px */
  font-weight: normal;
  padding: 0;

  display: inline;
}

/* Attributes */
.attribute {
  background: #f1eee8;
  display: block;
  list-style: none;
  padding: 5px;
}

.attributes .odd {
  background: #f9f7f6;
}

.attribute .form-item,
.attribute .form-item .description p {
  margin: 0;
}


/* Ubercart - Catalog grid
-------------------------------------------------------------- */
.category-grid-products table td {
  border-bottom: 1px solid #eeeae1;
  padding-bottom: 10px;
}

.catalog-grid-title {
  font-size: 150%; /* 18px/12px */
  font-weight: normal;
}

.catalog-grid-title a:link,
.catalog-grid-title a:visited {
  color: #444;
}

.catalog-grid-sell-price .uc-price {
  color: #bb2828;
  font-size: 14px;
  font-weight: bold;
}


/* Skinr
/-------------------------------------------------------------- */
/* Dual color red/blue block title with top gradient border */
.marketshare-dualcolortitle-topgradientbg h2.block-title {
  font-weight: normal;
}

.marketshare-dualcolortitle-topgradientbg h2.block-title .first-word {
  color: #BB2828;
}

.marketshare-dualcolortitle-topgradientbg .inner {
  background: url(../images/gradient.png) repeat-x top center;
  padding-top: 20px;
}

/* Small gold block title with taupe background and menu/list separators */
.marketshare-goldblocktitle-taupebg-menulistseparators .inner {
  background: #eeeae1 url(../images/gradient-dark.png) repeat-x top center;
  padding: 20px 10px 10px 10px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators .inner h2.block-title {
  color: #ac945f;
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul {
  font-size: 100%; /* 12px/12px */
  font-weight: bold;
  margin: 0 -10px 10px -10px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li  {
  background: url(../images/list-arrow.png) no-repeat 10px 5px;
  border-bottom: 1px solid #d4cdbd;
  list-style: none;
  list-style-image: none;
  padding: 2px 5px 2px 15px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li a:link,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li a:visited {
  color: #3a4e66;
  padding: 0 10px;
  text-decoration: none;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li a:hover,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li a:focus,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li a.active {
  color: #bb2828;
  padding-left: 15px;
  text-decoration: none;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li:hover,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li:focus,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li.hover {
  background: #e4ddcf url(../images/list-arrow-active.png) no-repeat 15px 5px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li.active-trail {
  background: #e4ddcf url(../images/list-arrow-active-trail.png) no-repeat 10px 8px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul {
  font-size: 91.7%; /* 11px/12px */
  margin: 0 -3px 0 0;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li {
  background: url(../images/list-dash.png) no-repeat 5px 8px;
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 0;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li:hover,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li:focus,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li.hover {
  background: url(../images/list-dash-active.png) no-repeat 5px 8px;
  padding-left: 15px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li a:link,
.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li a:visited {
  padding: 0;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li.active-trail ul li.active-trail {
  background: url(../images/list-dash.png) no-repeat 5px 8px;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul li ul li ul {
  font-size: 100%; /* 11px/11px */
  margin: 0;
}

/* Dark blue background with rounded corners and large red block title */
.marketshare-dark-background-blue {
  color: #8E939A;
}

#footer .marketshare-dark-background-blue {
  margin-bottom: -5px;
}

.marketshare-dark-background-blue .inner,
.footer .marketshare-dark-background-blue .inner {
  background: #2b323b;
  font-size: 150%;
  padding: 20px 20px 0 20px;
}

.marketshare-dark-background-blue h2.block-title {
  color: #ce3d3d;
  line-height: 100%;
}

/* Image with border */
.marketshare-image-taupeborder img {
  border: 1px solid #ddd6c6;
  padding: 3px;
}

/* Bold blue node title with light colored submitted text and alternating light background */
.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-row-even {
  background: #f7f5f0;
}

.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-row {
  margin-bottom: 10px;
  padding: 10px;
}

.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-row-odd {
  padding-bottom: 5px;
}

.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-field-title {
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
}

.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-field-title a:link,
.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-field-title a:visited {
  color: #3a4e66;
}

.marketshare-boldbluenodetitle-lightsubmitted-alternatingbg .views-field-created {
  color: #999;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 91.7%; /* 11px/12px */
}

/* Shopping cart style with taupe background and custom cart icon */
.marketshare-shoppingcart .inner {
  background: #eeeae1 url(../images/gradient-dark.png) repeat-x top center;
  padding: 20px 10px 10px 10px;
}

.marketshare-shoppingcart h2.block-title {
  color: #ac945f;
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
}

.marketshare-shoppingcart .cart-block-icon-full,
.marketshare-shoppingcart .cart-block-icon-empty {
  display: none;
}

.marketshare-shoppingcart .content {
  background: url(../images/icon-shoppingcart.png) no-repeat top left;
  padding-bottom: 12px;
  padding-left: 35px;
}

/* Wide background */
.marketshare-widebackground .inner {
  background: #404A56 url(../images/preface-wrapper-bg.jpg) no-repeat top left;
  border: 3px solid #c5cac5;
  display: block;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  height: 218px;
  overflow: hidden;
  position: relative;
}

.marketshare-widebackground h2.block-title {
  background: url(../images/preface-wrapper-title-bg.png) repeat;
  bottom: -3px;
  color: #fff;
  font-size: 200%; /* 24px/12px */
  left: 8px;
  padding: 10px;
  position: absolute;
  width: auto;
}

.marketshare-widebackground .content {
  color: #bec6d0;
  float: right;
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
  margin: 15px 20px;
  width: 180px;
}

.marketshare-widebackground .icon-product {
  background: url(../images/products/phones.png) no-repeat;
  display: block;
  height: 240px;
  position: absolute;
  right: 220px;
  top: 4px;
  width: 383px;
}

.marketshare-widebackground ul {
  font-size: 114%; /* 16px/14px */
  text-transform: uppercase;
}

.marketshare-widebackground ul li {
  display: block;
  list-style: none;
  text-align: right;
}

.marketshare-widebackground ul li a:link,
.marketshare-widebackground ul li a:visited {
  color: #bec6d0;
}

.marketshare-widebackground ul li a:hover,
.marketshare-widebackground ul li a:focus,
.marketshare-widebackground ul li a.active {
  color: #fff;
  text-decoration: none;
}

/* Ubercart Skinr styles */
.ubercart-styles .views-field-buyitnowbutton form input.form-submit {
  background: url(../images/button-cart.png) no-repeat top right;
  border: none;
  border-left: 1px solid #dad2c1;
  clear: left;
  color: #bb2828;
  cursor: pointer;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 108.3%; /* 13px/12px */
  font-style: normal;
  font-weight: normal;
  margin: 5px 0;
  padding: 1px 30px 0 5px;
  text-shadow: 1px 1px #fff;
  text-transform: none;
}

.ubercart-styles table td {
  vertical-align: top;
}

/* Reduce margins on standard float imagefield left style */
.ubercart-styles table .field-type-filefield,
.ubercart-styles table .imagecache {
  margin-right: 8px;
}

.ubercart-styles .views-field-buyitnowbutton form input.form-submit:hover,
.ubercart-styles .views-field-buyitnowbutton form input.form-submit.hover,
.ubercart-styles .views-field-buyitnowbutton form input.form-submit:focus {
  color: #000;
}

.ubercart-styles .uc-price-sell_price {
  color: #BB2828;
  font-size: 116.7%; /* 14px/12px */
  font-weight: bold;
  line-height: 160%;
}

.ubercart-styles .views-field-title a:link,
.ubercart-styles .views-field-title a:visited {
  color: #3a4e66;
  font-size: 133%; /* 16px/12px */
  line-height: 100%;
}


/* Rounded corners
/-------------------------------------------------------------- */
.corner {
  display: block;
  height: 6px;
  position: relative;
  width: 6px;
}

.corner-top-left {
  left: 0;
  top: 0;
}

.corner-top-right {
  right: 0;
  top: 0;
  float: right;
}

.corner-bottom-left {
  left: 0;
  bottom: 0;
}

.corner-bottom-right {
  right: 0;
  bottom: 0;
  float: right;
}

/* Primary menu */
#primary-menu-wrapper .corner-bottom-left {
  background: url(../images/rounded-primary-menu.png) no-repeat bottom left;
  bottom: 18px;
  left: 10px;
  position: absolute;
}

#primary-menu-wrapper .corner-bottom-right {
  background: url(../images/rounded-primary-menu.png) no-repeat bottom right;
  bottom: 18px;
  position: absolute;
  right: 10px;
  z-index: 10;
}


/* Skinr previews
/-------------------------------------------------------------- */
#screenshot .marketshare-dualcolortitle-topgradientbg-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-03.png) no-repeat;
}

#screenshot .marketshare-dark-background-blue-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-02.png) no-repeat;
}

#screenshot .marketshare-goldblocktitle-taupebg-menulistseparators-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-07.png) no-repeat;
}

#screenshot .marketshare-image-taupeborder-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-08.png) no-repeat;
}

#screenshot .marketshare-boldbluenodetitle-lightsubmitted-alternatingbg-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-01.png) no-repeat;
}

#screenshot .marketshare-shoppingcart-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-05.png) no-repeat;
}

#screenshot .marketshare-widebackground-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-06.png) no-repeat;
}

#screenshot .ubercart-styles-skinrpreview {
  background: url(../images/skinrpreviews/marketshare-style-04.png) no-repeat;
}

#main-bar-inner {
  background: #2d3641 url(../images/primary-menu-bg.png) repeat top left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 8;
}

#main-bar label {
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 133.3%;
  font-weight: normal;
  color: white;
}

#main-bar input {
  font-style: normal;
}

#main-bar-inner .block {
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 5px; /* chrome vs firefox vs ie */
}

#preface-top {
  overflow: visible;
}

#block-vectur_filters {
  float: left;
}

#primary-menu .form-item
{
  display: inline-block;
  margin: 0;
}

#preface-top-inner .block {
  float: left;
}

.views-admin-links {
  position: relative;
  right: 0;
  width: auto;
  float: none;
}


.views-field-field-group-image-fid,
.views-field-field-image-cache-fid {
  float: left;
  margin-right: 15px;
}

div.views-field-description,
div.views-field-body {
  float: left;
  width: 60%;
}

.views-field-leave-group {
    background-color: #2c2c2c;
    border:solid 1px darkgray;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    margin: 2px;
    padding: 1px 5px 2px 5px;
    text-transform:uppercase;
    display:block;
    float:right;
}

.views-field-leave-group a {
  color: white
}

.view-user-meta {
  width: 260px;
}

.view-user-meta .views-field-name {
  float: left;
}

.view-user-meta .views-field-nothing {
  clear: none;
}

#block-views-user_meta-block_1,
#block-views-user_meta-block_1 .views-field-picture
{
  margin-bottom: 0px;
}
#block-views-user_meta-block_1 {
  width: auto;
  float: right;
  margin-top: 15px;
}

#block-commons_core-header_login {
  width: 40%;
}

#block-commons_core-header_login .content {
  float: right;
}

.sidebar-last {
	float: right;
}

#content-group {
	overflow: visible;
}

#main-group-inner,
#content-group-inner {
	display: table;
	width: 100%;
}

#main-group {
  overflow: visible;
}

.with-left-margin {
  margin-left: 245px;
}

.with-right-margin {
  margin-right: 245px;
}

#main-bar-search-form,
#search-box {
  padding-top: 6px;
  padding-bottom: 0px;
  margin-left: 105px;
  margin-right: 330px;
  width: auto;
  float: none;
}

#main-bar-search-form-inner,
#search-box .inner {
  clear: none;
  line-height: 0;
}

#main-bar-search-form .form-text,
#main-bar-search-form
#search-box .form-text,
#search-box .form-select {
  background-color: white;
}

#primary-menu #cart-menu-link {
  padding-top: 7px;
  padding-bottom: 2px;
}
#sidebar-first ul.nice-menu,
#sidebar-first ul.nice-menu ul {
  padding-left: 0;
}

#sidebar-first ul.nice-menu a {
  text-decoration: none;
}

#autocomplete {
  background-color: white;
}

.grid16-50 {
  width: 50%;
}

.grid16-100 {
  width: 100%;
}

#content-tabs {
  float: none;
}

.block .custom-player {
  margin-bottom: 5px;
}

.node .images {
  float: left;
}

.node #product-details {
  float: left;
  margin-left: 15px;
}

.jcarousel-item-horizontal div.views-field-field-image-cache-fid,
.jcarousel-item-horizontal div.views-field-field-group-image-fid
/* .views-view-grid div.views-field-field-image-cache-fid */
{
  float: none;
  margin-bottom: 5px;
  width: 110px;
}

.jcarousel-item-horizontal div.views-field-description,
.jcarousel-item-horizontal div.views-field-body {
  float: none;
  width: 110px;
}

.views-view-grid .views-view-grid td {
  min-width: 120px;
  text-align: center;
  vertical-align: top;

}


.rating_with_count .fivestar-widget-static {
  display: inline-block;
}

.bestseller-item-description .title a {
  color: #3A4E66;
  font-weight: bold;
  font-size: 14px;
}

.label {
  font-weight: bold;
}

.view-product-details label {
  font-weight: bold;
}

hr.contentBlockDivider {
  border: 0;
  border-top: 1px dashed gray;
}

#vectur-filters-form #edit-vectur-category-wrapper {
  float: left;
}

#vectur_search_category {
  width: 100%;
  background-color: white;
}

#main-bar-search-form #vectur-filters-form,
#search-box #search-theme-form {
  margin: 0;
  padding: 0;
}

#search-box .form-submit,
#vectur-filters-form .form-submit {
  float: right;
}

#vectur-filters-form #edit-vectur-search-wrapper {
  display: block;
  margin-left: 125px;
  margin-right: 50px;
  max-width: 100%;
}

#search-box #edit-search-theme-form-1-wrapper {
  display: block;
  margin-right: 70px;
  max-width: 100%;
}

#search-box #edit-search-theme-form-1,
#vectur-filters-form #edit-vectur-search{
  width: 100%;
  max-width: 100%;
  background-color: white;
}

#catalog_container {
  float:left;
  width: 104px;
}

#primary_menu_contaier {
  float: right;
  width: 325px;
}

#edit-vectur-category-wrapper {
  width: 120px;
}

.uc-price-product {
  float: none;
}

.content-block,
.details-block {
  border-top: 1px dashed gray;
  margin-bottom: 15px;
}

.upsell-block-product {
  width: 23%;

}

table.category {

  border-collapse: separate;
}

table.category td.category {
  height: 133px;
  border: 5px solid white;
  background-color: #9F2323;
  vertical-align: middle;
}

table.category td.category a {
  color: white;
}

.view-catalog-main td {
  width: 10%;
}

a.catalog_category_link,
a.catalog_category_link:hover,
a.catalog_category_link:visited {
  display: block;
  width: 100%;
  height: 61px;
  background-color: #9F2323;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.catalog_category_image {
  display: block;
  width: 100%;
  height: 40px;
}


#edit-sell-price-max-wrapper,
#edit-sell-price-min-wrapper,
#edit-sell-price-max-wrapper label {
  margin-top: 5px;
  display: inline-block;
}
#edit-sell-price-min,
#edit-sell-price-max {
  width: 30px;
}
#edit-sell-price-max-wrapper label {
  width: 75px;
  text-align: center;
}

.pager-line select{
  font-size: 85%;
  margin: 20px 0;
}

#sorting-items {
  float: left;
}

.pager-line #items-per-page,
.pager-line .item-list {
  float: right;
}

.pager-line #items-per-page {
  margin-right: 10px;
}

#price-text,
.price-text {
  color: #9f2323;
  text-align: center;
  font-weight: bold;
}


#menu-bestsellers a:before{
  background-image: url('/sites/all/themes/vectur/images/bestseller.png');
}
#menu-deals a:before{
  background-image: url('/sites/all/themes/vectur/images/tag_red.png');
}
#menu-bestsellers a:before,
#menu-deals a:before{
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  content: '';
}


.search-results .list-image {
  width: 120px;
  height: 180px;
  float: left;
  text-align: right;
}

.search-results .list-content {
  height: 180px;
  width: auto;
  margin-left: 125px;
}

 .product-rating rating_with_count .fivestar-widget-static:after {
  content: '';
  clear: none;
}

#apachesolr-results-rows-wrapper {
  white-space: nowrap;
  float: right;
}
#apachesolr-results-filter-wrapper,
#apachesolr-results-sort-wrapper {
  float: left;
}
#apachesolr-results-rows-wrapper label{
  display: inline;
}

form#solr-filters-form {
  display: table;
  width: 100%;
  clear: both;
}

.search-result-item {
/*  float: left;*/
  width: 33%;
}

#page, #footer-message-wrapper {
  width: 96%;
}

#page {
  margin: 0 auto;
  min-height: 100%;
  background-color: white;
}

li#menu-deals:before,
li.menu-path-product-search:before {
  content: '|';
  height: 1em;
  float: left;
}

#site-info-wrapper{
  display: table;
  width: 100%;
}

#header-group #block-vectur_filters-6 {
  width: auto;
  margin-bottom: 0;
  height: 25px;
  margin-top: 35px;
}

#header-group #block-vectur_filters-6 .inner {
  width: 100%;
  display: table;
}


#block-apachesolr_votingapi-sis_votes_average .apachesolr-unclick {
  display: block;
  float: left;
}

.rating_with_count .fivestar-widget-static:after {
  content: '';
  clear: none;
}

div.main-product-image a {
	display: block;
	width: 300px;
	height: 300px;
}

div.main-product-image a img{
	margin: auto;
}


#edit-field-size-0-value-wrapper,
#edit-field-format-0-value-wrapper,
#edit-field-storage-cons-0-value-wrapper
{
  clear: both;
}

#edit-field-volume-0-value-wrapper,
#edit-field-volume-units-0-value-wrapper,
#edit-field-concentration-0-value-wrapper,
#edit-field-concentration-units-0-value-wrapper,
#edit-field-shelf-life-0-value-wrapper,
#edit-field-shelf-life-units-0-value-wrapper,
#edit-field-guaranty-0-value-wrapper,
#edit-field-guaranty-units-0-value-wrapper,
#edit-field-warranty-0-value-wrapper,
#edit-field-warranty-units-0-value-wrapper {
  float: left;
  width: 50%;
}

#edit-field-volume-0-value-wrapper,
#edit-field-concentration-0-value-wrapper,
#edit-field-shelf-life-0-value-wrapper,
#edit-field-guaranty-0-value-wrapper,
#edit-field-warranty-0-value-wrapper {
  clear: left;
}

.flowplayer {
  display: block;
  width: 200px;
  height: 140px;
}


.view-uc-products-to-export-list table th.views-field-null {
  padding: 3px;
}

#solr-filters-form, 
#solr-filters-form-top {
  display: table;
  width: 100%;
  clear: both;
}

table.search-results,
table.search-results tbody{
  border: none;
  border-color: transparent;
}

.view-catalog-main table.views-view-grid {
    border-collapse: separate;
    border-spacing: 2px;
}

.view-catalog-main table.views-view-grid td{
    background-color: #9F2323;
}

div.view-uc-product-catalog table.views-view-grid td {
    width: 33%;
}

div.block-commons_profile .picture {
    float: none;
}
