/* $Id: ie7-fixes.css 6566 2010-02-25 00:55:55Z chris $ */

/* IE7 */

/* Menus */
.block ul {
  margin-left: 10px;
}

.marketshare-widebackground ul,
.marketshare-widebackground ul.menu {
  list-style-image: none;
}

.marketshare-goldblocktitle-taupebg-menulistseparators ul {
  margin-left: -10px;
}

/* Pager */
ul.pager {
  display: block;
  height: 1%;
}

ul.pager li.pager-current {
  position: relative;
}

/* Primary menu */
#primary-menu-wrapper {
  margin-bottom: 1.5em;
}

#primary-menu-wrapper .corner-bottom-left,
#primary-menu-wrapper .corner-bottom-right {
  bottom: 0;
}

#site-info-wrapper {
  margin-bottom: 1.5em;
}

.preface-top-inner {
  padding-bottom: 1.5em;
}

.content-group-inner,
.postscript-top-inner,
.postscript-bottom-inner {
  padding-bottom: 1.5em;
}


/* Ubercart - Shopping cart block
-------------------------------------------------------------- */
.cart-block-summary-links ul.links li.cart-block-view-cart a:link,
.cart-block-summary-links ul.links li.cart-block-view-cart a:visited {
  padding: 0 7px 2px 7px;
}

.cart-block-summary-links ul.links li.cart-block-view-cart a:hover,
.cart-block-summary-links ul.links li.cart-block-view-cart a:focus {
  background-position: 0 -25px;
}


/* Buttons
/-------------------------------------------------------------- */
form input.form-submit,
#search input#search_header {
  border-left: none;
  color: #fff;
  padding: 0;
}

input#edit-checkout,
input#edit-continue,
.review-button-row input#edit-submit,
form#user-login input#edit-submit,
form#user-login-form input#edit-submit {
  border-left: none;
}

input#edit-submit,
#comment-form input#edit-submit-1,
input#edit-cancel,
input#edit-back {
  border-right: none;
}

input#edit-update,
input#edit-back {
  border-right: none;
}


/* Ubercart - Add to cart
/-------------------------------------------------------------- */
.add-to-cart .node-add-to-cart,
.ubercart-styles .views-field-buyitnowbutton form input.form-submit {
  border-left: none;
}

.ubercart-styles .views-field-buyitnowbutton form input.form-submit {
  padding: 1px 15px 0 0;
}