
#menu-bestsellers a:before{
  background-image: url('/sites/all/themes/vectur/images/bestseller.png');
}
#menu-deals a:before{
  background-image: url('/sites/all/themes/vectur/images/tag_red.png');
}
#menu-bestsellers a:before,
#menu-deals a:before{
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  content: '';
}


.search-results .list-image {
  width: 120px;
  height: 180px;
  float: left;
  text-align: right;
}

.search-results .list-content {
  height: 180px;
  width: auto;
  margin-left: 125px;
}

 .product-rating rating_with_count .fivestar-widget-static:after {
  content: '';
  clear: none;
}

#apachesolr-results-rows-wrapper {
  float: right;
}
#apachesolr-results-sort-wrapper {
  float: left;
}
#apachesolr-results-rows-wrapper label{
  display: inline;
}

.search-result-item {
  float: left;
  width: 33%;
}