.mycont{
	margin:0 auto;
	overflow:hidden;
}

.mycarousel li{
	width:150px;
	margin:0 10px;
  background: none;
}

.jcarousel-container {
  margin: 0 40px;
}

.jcarousel-clip{
	overflow: hidden;
}

.jcarousel-prev,
.jcarousel-next{
	display:block;
	width:32px;
	height:30px;
	cursor:pointer;
	position: relative;
}

.jcarousel-prev{
	background:url('../images/prev-horizontal.png') no-repeat 0 0;
	float:left;
	left: -30px;
	top: -110px;
}

.jcarousel-next{
	background:url('../images/next-horizontal.png') no-repeat 0 0;
	float:right;
	left: 30px;
	top: -110px;
}

.jcarousel-prev:hover,
.jcarousel-next:hover,
.jcarousel-prev-disabled,
.jcarousel-next-disabled{
	background-position:100% 0;
}
