/* $Id: ie7-fixes.css 7002 2010-03-31 20:10:06Z sheena $ */

/**
* fixes an issue with the header not being laid out properly in IE7 
**/

#primary-menu {
  clear:both; 
  width: auto; 
  margin: 0px auto; 
  float: none;
} 

#header-group, 
#header-group-inner {
  padding: 0px; 
  width: 960px; 
  margin: 0px auto; 
  overflow: hidden;
}

#header-site-info{
  width: 960px; 
  margin: 0px auto; 
  clear: both; float: 
  none; padding: 0px;
}

/**
* fixes an issue with multi-column menu items being wider in IE7
**/

.fusion-multicol-menu .inner ul li.expanded,
.fusion-multicol-menu .inner ul li.leaf {
  width: 120px;
}



.fusion-multicol-menu .inner ul li ul  li.expanded,
.fusion-multicol-menu .inner ul li ul li.leaf {
  width: 120px;
}

.fusion-multicol-menu .inner ul li ul  li.expanded,
.fusion-multicol-menu .inner ul li ul li.leaf {
  margin: 0px;
}

.fusion-inline-menu.rounded-corners .inner ul li .rounded-right, 
.fusion-inline-menu.rounded-corners .inner ul li .rounded-left { 
  height: 2px; 
  padding: 0px;
}

/**
* fixes an issue with menu list items showing a background or list image when they shouldn't 
**/

.block ul.menu li {
  list-style: none; 
  list-style-image: none; 
  background-image: none;
}

/**
* fix to clear floated imagefields since IE7  doesn't recognize the :after psedo-class
**/

.fusion-float-imagefield-left .views-row,
.fusion-float-imagefield-right .views-row,
.fusion-float-imagefield-left li,
.fusion-float-imagefield-right li,
.fusion-float-imagefield-left div.rounded-top,
.fusion-float-imagefield-right div.rounded-top,
.fusion-float-imagefield-left div.rounded-bottom,
.fusion-float-imagefield-right div.rounded-bottom {
  zoom: 1;
}
