/* 
    Document   : ie8-fixes
    Created on : 28.11.2011, 16:13:31
    Author     : Yuri 'Jureth' Minin, J.Jureth@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.fivestar-widget-static:after{
  content: '';
  display: inline;
}

#edit-vectur-search-wrapper {
  line-height: 100%;
}

#edit-vectur-search{
  font-size: 120%;
  line-height: 1.5em;
}