/*top header for login page*/
#primary-menu-wrapper div.inner.clearfix,
#preface-top-wrapper div.inner.clearfix,
#header-top-wrapper div.inner.clearfix{
    margin:0px;
}

div#header-top-inner.header-top-inner.inner.clearfix{
    width: 100%;
    height: 120px;
}

div#header-top-region-wrapper.header-top-region-wrapper.full-width{
    width: 100%;
    height: 120px;
}

.header-top-region {
    border-bottom-width: 0px!important;
    height: 120px;
    background-color: white!important;
    margin-left: 185px;
}
body#pid-user-password div#block-block-3,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-block-3{
    display: none;
}

body#pid-user-password.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#breadcrumbs.breadcrumbs.block,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#breadcrumbs.breadcrumbs.block{
    display: none;
}

body#pid-user-password.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
ul.tabs.primary,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
ul.tabs.primary{
    display: none;
}
body#pid-user-password
div#block-boxes-site_header_image,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-boxes-site_header_image{
    float:right;
    display: block;
    width:54%;
    margin:0px;
    height:120px;
}
body#pid-user-password
div#block-boxes-site_header_image img,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-boxes-site_header_image img{
    float:right;
    margin-top:49px;
}

body#pid-user-password div#block-boxes-site_logo,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-boxes-site_logo{
    float:left;
    width:25%;
    margin: 0px;
    height:120px;
}
body#pid-user-password div#block-boxes-site_logo img,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-boxes-site_logo img{
    float:left;
    margin-top: 53px;
}
/*main-wrapper login page*/
body#pid-user-password div#main-inner,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#main-inner{
    background-image: url("login_page.png");
    width:960px;
    height:580px;
}
/*top header another pages*/
div#header-top-inner.inner.clearfix img {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

div#block-boxes-site_header_image.block.block-block.odd.first.grid16-5{
    display: none;
}

div#header-top-region-inner.header-top-region-inner.inner.clearfix{
    height:120px;
    margin: 0px!important;
}

div#block-boxes-site_logo,
div#header-site-info
{
    position: absolute;
    height:120px;
}

div#block-boxes-site_logo img,
div#header-site-info img {
    float:left;
    margin-top: 66px;
}

div#block-views-user_meta-block_1{
    float:right;
    margin:0px!important;
    height:120px;
}

div#block-views-user_meta-block_1
div.view.view-user-meta
div.views-row img{
    padding:0px 0px 0px 45px!important;
}

div.view.view-user-meta
div.views-row{
    height:45px;
    margin:70px 0px 0px 0px!important;
    padding:0px!important;
}

/*preface top*/

#primary-menu-inner .block,
#preface-top-inner .block {
    margin-right: -1px;
    margin-top:1px;
}
div#block-block-3{
    width:30%;
    float:right;
    text-align: right;
    padding-right: 5px;
    height: 30px;
    margin:0px!important;
}

div#block-block-3 a{
    color:white;
    font-weight: bold;
    padding-right:13px;
    padding-left:13px;
}

div#block-block-3 p{
    margin-top:5px;
}

div#edit-search-block-form-1-wrapper label{
    display:none;
}

form#search-block-form input.form-submit{
    height: 18px;
    width: 24px;
    background-color:#319999;
    background-image: url("search-button.png");
    border-width: 0px!important;
    font-size: 0px;
    float:left;
}

div#block-search-0{
    height:30px;
    float:left;
    margin:0px;
    width: 172px;
}

div#block-search-0 div.inner.clearfix{
    margin-top: 5px;
    margin-left: 30px;
}

form#search-block-form .form-item input {
    float:right;
    background-image: url("search-edit.png");
    background-color: #319999;
    border-width: 0px;
    width: 87px;
}
form#search-block-form div div.container-inline {
    float: left;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-top: 0px!important;
    width: 84%!important;
}

div#primary-menu-inner.primary-menu-inner.inner.clearfix,
div#primary-menu {
  background-color: #319999;
  height: 35px;
}

div#preface-top,
div#preface-top-inner.preface-top-inner.inner.clearfix{
    background-color: #319999;
    height:30px;
}

div#header-group-inner{
    display:none;
}
form#user-login-form .form-item input
{
    background-color:#319999;
    border-width:0px;
    background-image: url("text-enter.png");
    width: 87px;
}

/*footer*/
div#block-commons_core-commons_info{
    display: none;
}

div#footer-wrapper .footer-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(246, 246, 246);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0px;
    padding-top: 14px;
}

/* registration block*/
form#user-register input.form-submit{
    font-size: 1.4em;
    font-style: italic;
    margin-left: 2.9em;
    padding-bottom: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width:0px;
    width:120px;
    height:30px;
    background-color: #2a2a3a;
    color:#2a2a3a;
    font-weight: normal;
    background-image: url("register-button.png");
}

div#block-formblock-user_register{
    margin-left:54.6em;
    color:white;
    width:305px;
    height:321px;
    background-image: url("sign_me_up.png");
    margin-top:9em;

}

div#block-formblock-user_register .confirm-parent{
    margin:0px;
}

div#block-formblock-user_register
h2.title.block-title,
div#block-formblock-user_register
fieldset legend,
div#block-formblock-user_register
div#account-pass-restrictions,
div#block-formblock-user_register
div.description{
    display: none;
}

div#block-formblock-user_register fieldset{
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    height: 192px;
    margin-bottom: 0px !important;
    margin-left: 36px !important;
    margin-right: 0px !important;
    margin-top: 50px !important;
}

div#block-formblock-user_register .form-text{
    width:200px!important;
}

div#block-formblock-user_register .form-item{
    width:200px!important;
    margin: 0.7em 0em 0.7em 0em;
}

div#block-formblock-user_register
input#edit-submit-2.form-submit{
    margin-left: 46px;
}

/*login block*/
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
h1.title,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#content-content.content-content form#user-login{
    display: none;
}

div#block-registration-my_login_block{
    float:right;
    width:600px;
}

div#block-registration-my_login_block
div#edit-name-1-wrapper.form-item{
    width:103px;
    float:right;
    margin-bottom: 5px;
    margin-top: -7px;
}

div#block-registration-my_login_block
div#edit-pass-1-wrapper.form-item{
    width:130px;
    float:right!important;
    margin-bottom: 5px;
    margin-top: -7px;
}

div#block-registration-my_login_block
input#edit-submit-1.form-submit{
    float:right;
    background-color: rgb(49, 153, 153);
    border-width:0px;
    margin-bottom: 5px;
    margin-top: -9px;
    padding-bottom: 20px;
    font-size: 18px;
    margin-right:10px;
}

div#block-registration-my_login_block label,
div#block-registration-my_login_block div.description,
div#block-registration-my_login_block ul{
    display: none;
}

div#block-registration-my_login_block{
    display: none;
}

div#block-registration-my_login_block div.inner.clearfix{
    margin-bottom: 10px;
}
body#pid-user-password div#block-registration-my_login_block,
body#pid-user.not-front.not-logged-in.page-user.no-sidebars.layout-main.sidebars-split.font-size-12.grid-type-960.grid-width-16
div#block-registration-my_login_block{
    display: block!important;
}

/*logout block*/
div#block-block-3 a.fusion-block-edit{
    width:0px;
    float:right;
    display:none;
}

/*messages*/
div#content-messages,
div.messages.error{
    margin:0px!important;
}
div#block-formblock-user_register div#edit-pass-pass2-wrapper,
div#block-formblock-user_register div#edit-pass-pass1-wrapper{
    height:38px;
}

/*password*/
div#block-formblock-user_register span.password-confirm,
div#block-formblock-user_register span.password-strength{
    display:none;
}
div#block-formblock-user_register
div.password-description.error{
    display: none!important;
}

/*log in*/
div#block-registration-my_login_block div#edit-pass-wrapper.form-item {
    float: right !important;
    margin-bottom: 5px;
    margin-top: -7px;
    width: 130px;
}

body#pid-user-password div#block-formblock-user_register{
    display:none;
}

div#block-formblock-user_register .form-submit {
  padding-top: 3px;
  padding-bottom: inherit;
}

body#pid-user-password div#content-inner{
    color:white;
    margin-left: 57em;
    margin-top: 11em;
    width: 220px;
}

body#pid-user-password div#content-inner
form#user-pass input.form-submit{
    background-color: black;
    background-image: url("http://btcom/sites/all/themes/cleancommerce/css/register-button.png");
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: rgb(42, 42, 58);
    font-size: 1.0em;
    font-style: italic;
    font-weight: 400;
    height: 30px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 120px;
    background-repeat: no-repeat;
}

div#block-registration-my_login_block div#edit-name-wrapper.form-item {
    float: right;
    margin-bottom: 5px;
    margin-top: -7px;
    width: 103px;
}

div#block-registration-my_login_block input#edit-submit.form-submit {
    background-color: rgb(49, 153, 153);
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    float: right;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: -9px;
    padding-bottom: 20px;
}


#menu-bestsellers a:before{
  background-image: url('/sites/all/themes/cleancommerce/images/bestseller.png');
}
#menu-deals a:before{
  background-image: url('/sites/all/themes/cleancommerce/images/tag_red.png');
}
#menu-bestsellers a:before,
#menu-deals a:before{
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  content: '';
}


a.catalog_category_link,
a.catalog_category_link:hover,
a.catalog_category_link:visited {
  display: block;
  width: 100%;
  height: 61px;
  background-color: #FAAF4C;
  color: black;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.catalog_category_image {
  display: block;
  width: 100%;
  height: 40px;
}


#edit-sell-price-max-wrapper,
#edit-sell-price-min-wrapper,
#edit-sell-price-max-wrapper label {
  margin-top: 5px;
  display: inline-block;
}
#edit-sell-price-min,
#edit-sell-price-max {
  width: 30px;
}
#edit-sell-price-max-wrapper label {
  width: 75px;
  text-align: center;
}

.pager-line select{
  font-size: 85%;
  margin: 20px 0;
}

#sorting-items {
  float: left;
}

.pager-line #items-per-page,
.pager-line .item-list {
  float: right;
}

.pager-line #items-per-page {
  margin-right: 10px;
}

#price-text,
.price-text {
  color: #9f2323;
  text-align: center;
  font-weight: bold;
}


#content-tabs {
  float: none;
}

.block .custom-player {
  margin-bottom: 5px;
}

.node .images {
  float: left;
}

.node #product-details {
  float: left;
  margin-left: 15px;
}

.jcarousel-item-horizontal div.views-field-field-image-cache-fid,
.jcarousel-item-horizontal div.views-field-field-group-image-fid
/* .views-view-grid div.views-field-field-image-cache-fid */
{
  float: none;
  margin-bottom: 5px;
  width: 110px;
}

.jcarousel-item-horizontal div.views-field-description,
.jcarousel-item-horizontal div.views-field-body {
  float: none;
  width: 110px;
}

.views-view-grid .views-view-grid td {
  min-width: 120px;
  text-align: center;
  vertical-align: top;

}


.rating_with_count .fivestar-widget-static {
  display: inline-block;
}

.bestseller-item-description .title a {
  color: #3A4E66;
  font-weight: bold;
  font-size: 14px;
}

.label {
  font-weight: bold;
}

.view-product-details label {
  font-weight: bold;
}

hr.contentBlockDivider {
  border: 0;
  border-top: 1px dashed gray;
}

#catalog_container {
  float:left;
  width: 82px;
}

#primary_menu_contaier {
  float: right;
  width: 248px;
}

#edit-vectur-category-wrapper {
  width: 120px;
}

.uc-price-product {
  float: none;
}

.content-block,
.details-block {
  border-top: 1px dashed gray;
  margin-bottom: 15px;
}

.upsell-block-product {
  width: 23%;

}

table.category {

  border-collapse: separate;
}

table.category td.category {
  height: 133px;
  border: 5px solid white;
  background-color: #9F2323;
  vertical-align: middle;
}

table.category td.category a {
  color: white;
}

.view-catalog-main td {
  width: 10%;
}

.grid16-50 {
  width: 50%;
}

.grid16-100 {
  width: 100%;
}

div#block-boxes-logout_block{
  width:30%;
  float:right;
  text-align: right;
  padding-right: 5px;
  height: 30px;
  margin:0px!important;
}

div#block-boxes-logout_block a{
  color:white;
  font-weight: bold;
  padding-right:13px;
  padding-left:13px;
}

div#block-boxes-logout_block p{
  margin-top:5px;
}

div#block-boxes-logout_block a.fusion-block-edit{
  width:0px;
  float:right;
  display:none;
}

body#pid-user-password div#block-boxes-logout_block {
  display: none;
}

.add-to-cart {
  clear: none;
}

#block-apachesolr_votingapi-sis_votes_average li,
.block-apachesolr_votingapi li {
  padding-bottom: 0;
}

.rating_with_count .fivestar-widget-static:after {
  content: '';
  clear: none;
}


#apachesolr-results-rows-wrapper {
  float: right;
  white-space: nowrap;
}
#apachesolr-results-filter-wrapper,
#apachesolr-results-sort-wrapper {
  float: left;
}
#apachesolr-results-filter-wrapper label,
#apachesolr-results-rows-wrapper label{
  display: inline;
}

form#solr-filters-form,
form#solr-filters-form-top,
form#solr-filters-form-bottom {
  display: table;
  width: 100%;
  clear: both;
}

.search-result-item {
  width: 33%;
}


.search-results .list-image {
  width: 120px;
  height: 180px;
  float: left;
  text-align: right;
}

.search-results .list-content {
  height: 180px;
  width: auto;
  margin-left: 125px;
}

.add-to-cart {
  clear: none;
}

.grid16-50 {
  width: 50%;
}

.grid16-100 {
  width: 100%;
}

#page {
  width: 94%;
}

#cart-menu-link {
  padding-top: 6px !important;
  padding-bottom: 7px !important;
}

#cart-menu-link:after{
  content: '' !important;
  margin: 0;
  padding: 0;
}

#cart-menu-link img {
  display: block;
}

#main-bar-search-form {
  margin-left: 90px;
  margin-right: 250px;
}

#edit-vectur-category-wrapper {
  margin: 0;
  padding: 0;
}


#vectur-filters-form #edit-vectur-category-wrapper {
  float: left;
}

#vectur_search_category {
  width: 100%;
}

#main-bar-search-form #vectur-filters-form,
#search-box #search-theme-form {
  margin: 0;
  padding: 0;
}

#search-box .form-submit,
#vectur-filters-form .form-submit {
  float: right;
}

#vectur-filters-form #edit-vectur-search-wrapper {
  display: block;
  margin-left: 120px;
  margin-right: 45px;
  max-width: 100%;
}

#search-box #edit-search-theme-form-1-wrapper {
  display: block;
  margin-right: 50px;
  max-width: 100%;
}

#search-box #edit-search-theme-form-1,
#vectur-filters-form #edit-vectur-search{
  width: 100%;
  max-width: 100%;
  background-color: white;
  height: 22px;
}


.main-bar-search-form-inner {
  padding-top: 5px;
}

#main-bar-search-form select,
#main-bar-search-form input {
  height: 24px;
}

#main-bar-search-form input,
#main-bar-search-form select,
#main-bar-search-form .form-item {
  margin: 0;
  padding: 0;
}

#main-bar-search-form .form-submit{
  background: transparent url(../images/go-button-background.png);
  border: none;
  width: 40px;
  color: black;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

#edit-vectur-search-wrapper {
  margin-left: 30px;
  margin-right: 120px;
}

#header-top-region #block-vectur_filters-sublinks,
#header-top-region #block-vectur_filters-6 {
  margin-top: 85px;
  height: 28px;
  float: none;
  width: auto;
}

div.product-info {
  display: inline;
}

div.product-info .uc-price-product {
  font-size: 1em;
  font-weight: bold;
}

div.main-product-image a {
	display: block;
	width: 300px;
	height: 300px;
}

div.main-product-image a img{
	margin: auto;
}


/* Edit node form style */

#edit-field-size-0-value-wrapper,
#edit-field-format-0-value-wrapper,
#edit-field-storage-cons-0-value-wrapper
{
  clear: both;
}

#edit-field-volume-0-value-wrapper,
#edit-field-volume-units-0-value-wrapper,
#edit-field-concentration-0-value-wrapper,
#edit-field-concentration-units-0-value-wrapper,
#edit-field-shelf-life-0-value-wrapper,
#edit-field-shelf-life-units-0-value-wrapper,
#edit-field-guaranty-0-value-wrapper,
#edit-field-guaranty-units-0-value-wrapper,
#edit-field-warranty-0-value-wrapper,
#edit-field-warranty-units-0-value-wrapper {
  float: left;
  width: 50%;
}

#edit-field-volume-0-value-wrapper,
#edit-field-concentration-0-value-wrapper,
#edit-field-shelf-life-0-value-wrapper,
#edit-field-guaranty-0-value-wrapper,
#edit-field-warranty-0-value-wrapper {
  clear: left;
}


.views-admin-links {
  position: relative;
  right: 0;
  width: auto;
  float: none;
}

.view-uc-products-to-export-list table th.views-field-null {
  padding: 5px 10px;
}

div.view-uc-product-catalog .views-field-field-group-image-fid,
div.view-uc-product-catalog .views-field-field-image-cache-fid {
    float: left;
    margin-right: 15px;
}

div.view-uc-product-catalog div.views-field-description,
div.view-uc-product-catalog div.views-field-body {
    float: left;
    width: 60%;
}

div.view-uc-product-catalog table.views-view-grid td {
    width: 33%;
}

div.block-commons_profile .picture {
    float: none;
}

div#header-site-info-inner {
    margin-left: 0px;
}

.view-catalog-main table.views-view-grid td{
    background-color: #FAAF4C;
}

.view-catalog-main table.views-view-grid {
    border-collapse: separate;
    border-spacing: 2px;
}
